
<!-- Skills Start -->

<section id="{{ page.title }}" class="container-fluid content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">

          {{ page.content | markdownify }}

          <div class="academics-block">

        <div class="section-container">
            
            <!-- BEGIN bars -->
            <div class="outer_starContainer">
                <h3>Web Services</h3>
                <div class="row">
                    <div class="col-md-3">
                        <div class="col-md-3 label-left">Affinity Designer</div>
                        <input type="hidden" class="rating-tooltip-manual" data-readonly value="3"/>
                        <div class="col-md-9 skill-bar hover" data-tooltip="87%">
                            <div class="skill-width" style="background-color: #00ff27; width: 87%"></div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="col-md-3 label-left">Photoshop</div>
                        <div class="col-md-9 skill-bar hover" data-tooltip="72%">
                            <div class="skill-width" style="background-color: #0080ff; width: 72%"></div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="col-md-3 label-left">Wireframing</div>
                        <div class="col-md-9 skill-bar hover" data-tooltip="68%">
                            <div class="skill-width" style="background-color: #e19c00; width: 68%"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="col-md-3 label-left">Affinity Designer</div>
                        <div class="col-md-9 skill-bar hover" data-tooltip="87%">
                            <div class="skill-width" style="background-color: #00ff27; width: 87%"></div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="col-md-3 label-left">Photoshop</div>
                        <div class="col-md-9 skill-bar hover" data-tooltip="72%">
                            <div class="skill-width" style="background-color: #0080ff; width: 72%"></div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="col-md-3 label-left">Wireframing</div>
                        <div class="col-md-9 skill-bar hover" data-tooltip="68%">
                            <div class="skill-width" style="background-color: #e19c00; width: 68%"></div>
                        </div>
                    </div>
                </div>
                <div style="clear: both; margin: 20px auto;"></div>
                <br />
                <br />
                <center> <strong><span class="fa fa-wrench"></span> Tools</strong>

                    <div class="dev_tools">Affinity Designer, Photoshop CS6</div>
                </center>
            </div>
            <!-- END bars -->
        </div>
    </div>
        </div>
    </div>
</section>

<!-- Skills End -->
